{% extends 'base.html.twig' %}

{% block title %}TPOTDR | About{% endblock %}

{% block body %}
    <div class="row wrapper text-center">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="rounded-1 mt-5 pt-1 bg-olive">
                <h2 class="py-3 mt-4 bg-lightolive">
                    About me
                </h2>
                <div class="text-container mt-4 p-3 fs-4">
                    <p>
                        Hello there! I'm currently a student following the software developer traject and I have made this game as a project on my school. When I had to think of making a website my own, the idea popped into my head to make a dabloon game once, highly inspired by the dabloon memes.
                    </p>
                    <p>
                        This is an RNG-based game where the events base off of Random Generated Numbers, where you, the player, can use items and dabloons to advance further into the game, while also still being able to use these items to keep control over the game. Its not very large, but you can still achieve a lot. I might start adding more features if this will get more popular
                    </p>
                </div>
            </div>
            <div class="mt-5">
                <a class="btn py-4 fs-2 bg-lightgreen border border-5 border-black rounded-5 fm-courier fw-bolder"
                   href="{{ path("app_home") }}">
                    Back to home
                </a>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
