{% extends 'base.html.twig' %}

{% block title %}TPOTDR | Home{% endblock %}
{% block body %}
    <div class="row wrapper text-center">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="my-3">&nbsp;</div>
            <a class="col-5 start-button btn py-4 w-25 fs-1 bg-lightgreen border border-5 border-black rounded-5 fm-courier fw-bolder"
               href="{# path("app_game") #}">
                Start
            </a>
            </a>
            <div class="my-3">&nbsp;</div>
            <div class="row fs-1">
                <div class="col-5 text-end">
                    <a class="btn py-4 fs-2 bg-lightgreen border border-5 border-black rounded-5 fm-courier fw-bolder"
                       href="{{ path("app_guest_settings") }}">
                        General Settings
                    </a>
                </div>
                <div class="col-2"></div>
                <div class="col-5 text-start">
                    <a class="btn py-4 fs-1 bg-lightgreen border border-5 border-black rounded-5 fm-courier fw-bolder"
                       href="{{ path("app_about") }}">
                        About Me
                    </a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
