{% extends 'base.html.twig' %}

{% block title %}TPOTDR | Editor{% endblock %}

{% block body %}
    <div class="row wrapper text-center">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="my-3">&nbsp;</div>
            {{ form(form()) }}
        </div>
        <div class="col-1"></div>
    </div>
    <div class="create-info m-auto">
        <table class="fs-3 border border-3 border-black w-100">
            <tr>
                <td>CTRL+LeftClick on non-selected items to select multiple. This is only possible on the large inputs.</td>
            </tr>
            <tr>
                <td>CTRL+LeftClick on selected items to deselect.</td>
            </tr>
        </table>
    </div>
{% endblock %}