{% extends 'base.html.twig' %}

{% block title %}TPOTDR | Item Editor{% endblock %}

{% block body %}
    <div class="row wrapper text-center">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="my-3">&nbsp;</div>
            {% if items is not defined or items|length <= 0 %}
            <span class="text-danger fs-3">Nothing to see here but us chickens</span>
            {% elseif items|length > 0 %}
            {% for item in items %}
            {% if item.id % 2 == 1 %}
            <div class="row bg-lightolive border border-black border-1">
                {% else %}
                <div class="row bg-lightgreen border border-black border-1">
                    {% endif %}
                    <div class="col-6">
                        {{ item.name }}
                    </div>
                    <div class="col-3">
                        Edit
                    </div>
                    <div class="col-3">
                        Delete
                    </div>
                </div>
                {% endfor %}
                {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}