{% extends 'base.html.twig' %}

{% block title %}TPOTDR | Effect Editor{% endblock %}

{% block body %}
    <div class="row wrapper text-center">
        <div class="col-1"></div>
        <div class="col-10">
            {% if createBtn is defined %}
                {{ form(createBtn) }}
            {% endif %}
            <div class="my-3">&nbsp;</div>
            {% if dashboardItems is not defined or dashboardItems|length <= 0 %}
            <span class="text-danger fs-3">Nothing to see here but us chickens</span>
            {% elseif dashboardItems|length > 0 %}
            {% for dashboardItem in dashboardItems %}
            {% if dashboardItem.id % 2 == 1 %}
            <div class="row bg-lightolive border border-black border-1">
                {% else %}
                <div class="row bg-lightgreen border border-black border-1">
                    {% endif %}
                    <div class="col-1">
                        {{ dashboardItem.id }}
                    </div>
                    <div class="col-5">
                        {{ dashboardItem.name }}
                    </div>
                    <div class="col-3">
                        Edit
                    </div>
                    <div class="col-3">
                        Delete
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}