{% extends 'base.html.twig' %}

{% block banner %}{% endblock %}
{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-3">
            <div class="dabloon-counter">
                <img class="img-fluid" src="{{ asset('img/logos/Dabloon.jpg') }}" alt="dabloon image">
                <span class="dabloon-amount fs-2 fw-bold">[Number]</span>
            </div>
        </div>
    </div>
    <div class="row border border-5 border-black p-0 m-0">
        <div class="col-12 col-lg-5 m-0 p-0">
            <div class="w-100 h-75 dialog-box bg-darkgreen border border-2 border-black">
                a
            </div>
            <div class="w-100 h-25 option-box bg-lightgreen border border-2 border-black">
                a
            </div>
        </div>
        <div class="col-12 col-lg-4 m-0 p-0">
            <div class="image-display">
                <img class="img-fluid h-100" src="{{ asset('img/environments/forest-path.jpg') }}" alt="forest">
            </div>
        </div>
        <div class="col-12 col-lg-3 m-0 p-0">
            <div class="game-stats bg-darkgreen h-100">
                <p class="luck">
                    Luck: <span class="luck-counter">[Number]</span>
                </p>
                <p class="health">
                    Health: <span class="health-counter">[Number]</span>
                </p>
                <p class="regeneration">
                    Regeneration: <span class="regen-counter">[Number]</span>
                </p>
                <p class="poison">
                    Poison: <span class="poison-counter">[Number]</span>
                </p>
                <p class="distance">
                    Distance: <span class="distance-counter">[Number]</span>
                </p>
            </div>
        </div>
    </div>
    <div class="menu-overlay z-3 position-absolute bg-black">
        <div class="inventory-tab">
            <span>Inventory</span><br>
            <div class="block1 block-light">block1</div>
            <div class="block2 block-light">block2</div>
            <div class="block3 block-normal">block3</div>
            <div class="block4 block-normal">block4</div>
            <div class="block5 block-darker">block5</div>
            <div class="block6 block-darker">block6</div>
            <div class="block7 block-darker">block7</div>
            <div class="block8 block-darker">block8</div>
            <div class="block9 block-darkest">block9</div>
            <div class="block10 block-darkest">block10</div>
            <div class="block11 block-darkest">block11</div>
            <div class="block12 block-darkest">block12</div>
        </div>
        <div class="quests-tab">
            <span>Quests</span><br>
            <div class="quests-block0 quest-blocks">title1</div>
            <div class="quests-block1 quest-blocks">content1</div>
            <div class="quests-block2 quest-blocks">title2</div>
            <div class="quests-block3 quest-blocks">content2</div>
        </div>
        <div class="settings-tab">
            <span>In-game Settings</span><br>
            <input type="checkbox" class="display-stats" checked><div class="settings-stats settings-info">Display stats</div>
            <input type="checkbox" class="display-RNG"><div class="settings-RNG settings-info">Only show options when necessary</div>
        </div>
    </div>
    <script href="{{ asset('js/game.js') }}" defer></script>
{% endblock %}
