body {
    background-color: skyblue;
}

.title-text {
    padding: 25px;
    border-radius: 5px;
    background-color: darkgreen;
    color: #FFD966;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}