body {
    background-color: skyblue;
}

.title-text {
    padding: 25px;
    border-radius: 5px;
    background-color: darkgreen;
    text-align: center;
    font-weight: 500;
}

.fm-courier {
    font-family: 'Courier New', Courier, monospace;
}

.text-gold {
    color: #FFD966;
}

.bg-mint {
    background-color: #DDF8E8;
}

.bg-lightgreen {
    background-color: lightgreen;
}

.bg-olive {
    background-color: #A9D18E;
}

.bg-lightolive {
    background-color: #C5E0B4;;
}