{% extends 'base.html.twig' %}

{% block title %}TPOTDR | Mod home{% endblock %}
{% set bannerTitle = "TPOTDR | MOD " ~ app.user.username %}

{% block body %}
    <div class="row wrapper text-center">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="my-3">&nbsp;</div>

        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
