{% extends 'base.html.twig' %}

{% block title %}TPOTDR | SEARCH MEMBERS{% endblock %}

{% block body %}
    <div class="row wrapper text-center">
        <div class="col-1"></div>
        <div class="col-10 d-flex align-items-center flex-column">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">

                </div>
                <div class="col-2"></div>
            </div>
            <select class="form-select form-select-sm w-25" aria-label="User select">
                <option selected>No selected</option>
                <hr>
                <hr>
                <hr>
                {% for user in users %}
                    {% set name = user.username %}
                    <option value="{{ name }}">{{ name }}</option>
                    <hr>
                {% endfor %}
            </select>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}